// Admin page

.centered {
  padding: 50px;
  border-radius: 10px;
  background: darken($color-2, 2%);
  width: 1200px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  @include center-block;
  @include center-vertically;
  @include flex-centered;
  @include flex-direction(column);
}

.admin-page-title {
  margin-bottom: 20px;
  font-size: 36px !important;
  color: $color-5 !important;
  border-bottom: 2px solid darken($color-3, 45%);
  width: 100%;
  padding-bottom: 20px;
}

.admin-title-row {
  width: 100%;
}

#user-registration {
  margin-bottom: 75px;
  width: 100%;

  form {
    width: 98%;
    padding-left: 0;
    padding-right: 12px;
    @include flexbox;
  }

  .form__inline--form-group {
    margin-right: 10px;
  }

    .form-control {
      height: 45px;
      font-size: 18px;
      color: $color-3 !important;
      background: transparent;
      border: 1px solid darken($color-3, 40%);
    }

  button {
    margin-top: 0;
    width: 98% !important;
    height: 45px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    color: $color-3;
    font-weight: 600;
    font-size: 20px;
    @include gradient($color-5, rgba($color-5, 0.2), radial);
  }
}

#remove-user {
  width: 100%;
  margin-bottom: 75px;

  #user-list-col {
    padding: 0px 35px 0 0 !important;

    select {
      margin-left: 0px !important;
      height: 45px;
      font-size: 18px;
      color: $color-3 !important;
      border: 1px solid darken($color-3, 40%) !important;
    }
  }

  .col-4 {
    padding: 0;
  }

  #delete-user-btn {
    width: 99%;
    height: 45px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    color: $color-3;
    font-weight: 600;
    font-size: 20px;
    margin-left: -20px !important;
    @include gradient($color-8, rgba($color-8, 0.2), radial);
  }
}

#all-users {
  width: 100%;

  ul {
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);
  }

  li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px !important;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    height: 45px;
    font-size: 18px;
    color: $color-3 !important;
    background: $color-1;
    border: none !important;
    width: 32%;
  }
}
