// dash bootstrao component
.form-select {
  background: transparent;
  border: none;
  color: $dropdown-color;
  height: $dropdown-height;
  font-weight: 600;
  text-align: center !important;
  text-align-last: center;
  vertical-align: middle !important;
  width: 100%;
  @include font-size($dropdown-font-size-map);

  option {
    color: $color-3 !important;
    background: $color-2;
  }

  &:active,
  &:focus {
    color: $color-3 !important;
  }
}

//styling of the four dropdown boxes on accounts.py page
.dropdown__transparent {
  border: 1px solid $accent-color !important;
  background: transparent !important;
  border-radius: 4px;
  color: $dropdown-color !important;
  @include font-size($dropdown-sm-font-size-map);
}
