table {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  background: transparent;

  thead {
    color: $color-3;
    text-transform: uppercase;
    background: transparent !important;
    background-color: transparent !important;
    font-size: 16px;

    @include breakpoint(viewport-7) {
      font-size: 16px;
    }

    @include breakpoint(viewport-19) {
      font-size: 20px;
    }
  }

  td {
    padding: 18px 0 18px 12px !important;
    font-family: $base-font-family;
    font-size: 18px;
    color: $color-3 !important;

    @include breakpoint(viewport-7) {
      font-size: 15px;
    }

    @include breakpoint(viewport-19) {
      font-size: 19px;
    }
  }
}
