// Colors
$color-1: darken(#2b2d38, 2%);
$color-2: #2f323d;
$color-3: #fff;
$color-4: #5f6128;
$color-5: #bbbe64;
$color-6: #70d3f8;
$color-7: #eecf6d;
$color-8: #fa7921;
$color-9: #e3dc95;
$color-10: #bbdef0;

$accent-color: $color-5;
$dropdown-heading-color: $color-3;
$dropdown-color: $color-3;

// Typography
$base-font-family: 'Roboto', 'sans-serif';
$heading-font-family: 'Open Sans', 'sans-serif';

// font-size maps
$dropdown-font-size-map: (
    null  : 16px,
    768px : 16px,
    992px : 17px,
    1200px: 20px,
    1400px: 22px,
    1900px: 22px,
);

$dropdown-sm-font-size-map: (
    null  : 12px,
    768px : 12px,
    992px : 13px,
    1200px: 15px,
    1400px: 15px,
    1900px: 18px,
);

$dropdown-heading-font-size-map: (
    null  : 16px,
    768px : 16px,
    992px : 16px,
    1200px: 16px,
    1400px: 17px,
    1900px: 18px,
);

$switches-font-size-map: (
    null  : 14px,
    768px : 14px,
    992px : 14px,
    1200px: 14px,
    1400px: 14px,
    1900px: 18px,
);

// border color
$border-color-1: darken($color-2, 5%);

// border
$border-1: 1px solid $border-color-1;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$dropdown-height: 45px;

// Spacing
$xl-spacing: 100px;
$large-spacing: 50px;
$medium-spacing: 25px;
$base-spacing: 12.5px;
$small-spacing: $base-spacing / 2;
$xs-spacing: $base-spacing / 4;

//Font-styling
$text-shadow: 0 1px 2px rgba(225, 225, 225, 0.5);
$text-opacity: 0.9;
